---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Slider from '../components/Slider.astro';
import ModalTemperada from '../components/Modal-temperada.astro';
import ModalSuperficie from '../components/Modal-superficie.astro';
import ModalJet from '../components/Modal-jet.astro';
import ModalLavado from '../components/Modal-lavado.astro';
---
<style>
	  .slides {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .slides::-webkit-scrollbar {
    width: 0px;
  }

  body::-webkit-scrollbar {
    width: 0px;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 400px;
    transition: transform 0.5s;
  }

</style>

<Layout title="G&G Ingeniería">
	<Navbar />
	<main class=" relative w-full h-screen overflow-auto snap-y snap-mandatory">
		<section class=" bg-[#0A263B] h-screen relative snap-start" id="inicio">
            <div class="h-screen absolute w-full opacity-70 bg-top">
                <img src="images/imagen-portada.jpeg" class="h-full w-full object-cover md:bg-right -z-10" />
            </div>
            <div class="h-screen z-20 relative w-full">
                <div class=" pt-60 mx-auto text-white sm:text-2xl">
                    <h1 class=" sm:text-6xl text-4xl font-bold md:ml-64 ml-2 break-words">G&G Ingeniería SPA.</h1>
                    <h1 class=" sm:text-2xl text-sm font-bold md:ml-80 break-words ml-6">Limpieza y mantención de tubería y Construcciones varias.</h1>
					<div class="text-4xl w-full absolute md:bottom-12 bottom-24 text-center flex justify-center">
						<button id="arrow_down" class="animate-bounce bg-slate-400 rounded-full p-1 w-14 h-14">
							<ion-icon name="arrow-down-outline"></ion-icon>
						</button>
					</div>
                </div>
            </div>
        </section>

		<section class=" bg-[#3b566e] h-screen relative snap-start" id="quienes_somos">
            <div class="h-screen z-20 relative">
                <div class=" sm:w-4/5 w-5/6 lg:pt-40 pt-20 lg:grid lg:grid-cols-[40%_60%] md:gap-10 gap-1 flex flex-col mx-auto text-white sm:text-2xl">
					<div>
                    	<h1 class=" sm:text-6xl text-4xl font-bold pb-3">Quienes somos</h1>
						<h4 class=" sm:text-xl text-xl font-medium">
							En G&G estamos comprometidos con incluir un servicio de calidad y 
							una amplia y solida experiencia en nuestros sectores. Nuestro respaldo cuenta con resultados 
							superiores de manera constante, asegurandote que siempre obtendras lo mejor de nosotros.
						</h4>
						<h2 class="text-2xl mt-5 mb-2 hidden md:block">Nuestros servicios son:</h2>
						<ul>
							<ul class="md:ml-16 list-disc">
                                <ModalSuperficie />
                        		<ModalJet />
                        		<ModalTemperada />
                        		<ModalLavado />
							</ul>
						</ul>
					</div>
					<!-- SLIDER -->
					<Slider />
                </div>
            </div>
        </section>

		<section class=" bg-black/75 h-screen relative snap-center snap-y" id="contacto">
            
            <div class="h-screen z-20 relative">
                <div class=" sm:w-4/6 w-5/6 md:pt-60 pt-32 mx-auto text-white sm:text-2xl flex flex-col gap-10">
                    <h1 class=" sm:text-6xl text-4xl font-bold">Contacto</h1>
                    <div class="bg-white/50 md:grid grid-cols-[55%_45%] flex flex-col relative border-l-2 border-l-slate-700 w-full">
                        <div class=" border-l-8 border-slate-600 flex justify-center flex-col">
                            <h3 class="md:text-2xl text-2xl font-semibold p-5">Ponte en contacto con nostros.</h3>
                            <h1 class=" sm:text-xl text-lg ml-6 my-4">
                                <a class="flex items-center" href="https://wa.me/56954412905">
                                <ion-icon name="logo-whatsapp"></ion-icon>&nbsp; +569 5441 2905
                                </a>
                            </h1>

                            <h1 class=" sm:text-xl text-lg ml-6 my-4">
                                <a class="flex items-center" href="mailto:g.g.ingenieriaspa@gmail.com">
                                    <ion-icon name="mail-outline"></ion-icon>&nbsp; g.g.ingenieriaspa@gmail.com
                                </a>
                            </h1>
                        </div>
                        <div class="h-full w-full relative">
                            <img src="images/imagen-contacto.jpg" class="h-full w-full max-h-80 object-cover bg-bottom" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
	</main>

	<script>
		const arrowDown = document.getElementById('arrow_down')
		const quienesSomosSection = document.getElementById('quienes_somos');

		arrowDown.addEventListener('click', () => {
			console.log(arrowDown)
        quienesSomosSection.scrollIntoView({ behavior: 'smooth' });
    });
	</script>
</Layout>