<div x-data="{ showModal: false }">
    <!-- Modal toggle -->
    <li>
    <button @click="showModal = !showModal" class=" underline md:text-lg text-sm" >
      Limpieza con agua temperada
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
    </li>
    
    <!-- Main modal -->
    <div x-show="showModal" class="fixed inset-0 bg-black/50 z-30 bg-opacity-75 transition-opacity">
      
<div id="indicators-carousel" class="relative md:w-[890px] w-11/12 mx-auto md:my-32 my-24" data-carousel="static">
  
  <!-- Carousel wrapper -->
  <div class="relative h-[550px] md:h-[680px] overflow-hidden rounded-lg ">
    <button @click="showModal = false" type="button" class="z-50 absolute right-0 top-0 text-white bg-slate-600 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item="active">
          <img src="agua-temperada/agua-temperada-1.jpeg" class=" object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item>
          <img src="agua-temperada/agua-temperada-2.jpeg" class="object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item>
          <img src="agua-temperada/agua-temperada-3.jpeg" class="object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item>
          <img src="agua-temperada/agua-temperada-4.jpeg" class="object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item>
          <img src="agua-temperada/agua-temperada-5.jpeg" class="object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
      </div>
      <!-- Item 6 -->
      <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item>
          <img src="agua-temperada/agua-temperada-6.jpeg" class="object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
    </div>
    <!-- Item 7 -->
    <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item>
        <img src="agua-temperada/agua-temperada-7.jpeg" class="object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
    </div>
    <!-- Item 8 -->
    <div class="hidden duration-700 ease-in-out bg-slate-600/75" data-carousel-item>
        <img src="agua-temperada/agua-temperada-8.jpeg" class="object-contain block h-full mx-auto" alt="Limpieza por agua temperada">
    </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 7" data-carousel-slide-to="6"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 8" data-carousel-slide-to="7"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-black/75  group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-3 h-3 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-black/75 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-3 h-3 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>

  </div>
  
  